.product-item{
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    max-width: 308px;
    margin: 0 16px;
}
.product-item img{

    width: fit-content;
    cursor: pointer;
}

.product-item .color-selector{
    display: flex;
    margin-top: 8px;
}

.color-selector > div {
    cursor: pointer;
    margin: 0 4px;

    border-radius: 4px;
    height: 27px;
    width: 27px;
}
.product-summary-infos{
    position: relative;
}


.product-price{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.product-name{
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

.product-description{
    height: 54px;
    max-width: 254px;
    font-size: 12px;
    line-height: 18px;
    opacity: 0.5;
}

.buy-button{
    margin-top: 8px;
    width: 254px;
}
.buy-button button{
    width: 100%;
    cursor: pointer;
    background-color: #faa500;
    border: none;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}
.buy-button button:hover{
    border-radius: 4px;
    color: #000;
    border: 1px solid #faa500;
    background-color: transparent;
}


@media screen and (max-width: 768px) {
    .product-item {
        width: 308px !important;
    }
}