.nav{
    background: #353535;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    height: 24px;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
}
header{
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.header-content{
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0px 4px 6px 0px #00000014;
    justify-content: space-around;
    padding: 0 5%;
    height: 88px;
}

.header-content .logo{
    margin-right: 60px;
}

.header-content .header-search{
    display: flex;
    position: relative;
    width: 100%;
}

.header-content .header-search input{
    background-color: #efefef;
    border: none;
    border-radius: 10px;
    max-width: 791px;
    padding-left: 24px;
    height: 40px;
    width: 95%;
}

.header-content .header-search input::placeholder {
    color: #353535;
    font-size: 12px;
    line-height: 18px;
}

.header-content .header-search button{
    border: none;
    border-radius: 8px;
    background-color: #faa500;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    gap: 10px;
    height: 40px;
    width: 119px;
    right: 5%;
    line-height: 21px;
    text-align: center;
}

.search-bar{
    background: #EFEFEF;
    border-radius: 10px;
    color: #353535;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    height: 40px;
    letter-spacing: 0px;
    text-align: left;
}

.header-content .header-account {
    align-items: center;
    align-content: center;
    display: flex;
}

.header-content .header-account button{
    border: none;
    background-color: transparent;
    background-position: 10px;
    cursor: pointer;
    color: #353535;
    font-size: 14px;
    line-height: 21px;
    padding-left: 14px;
    width: 130px;
    height: 21px;
}

.header-content .header-account button.my-account{
    background-image: url('../../assets/images/my-account.png');
    background-repeat: no-repeat;
}

.header-content .header-account button.wishlist{
    background-image: url('../../assets/images/wishlist.png');
    background-repeat: no-repeat;
}

.header-content .header-account button.minicart{
    background-image: url('../../assets/images/minicart.png');
    background-repeat: no-repeat;
    border-radius: 5px;
    border: 1px solid #faa500;
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    transition: 0.6s all;
    width: 134px;
}

.minicart-itens{
    align-items: center;
    display: flex;
    justify-content:center;
    position: absolute;
    right: 4%;
    top: 25%;
    border-radius: 50px;
    text-align: center;
    height: 30px;
    width: 30px;
    font-weight: 800;
    color: #fff;
    background-color: rgb(223, 58, 58);
}

.header-menu{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 48px;
}

.header-menu ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
}

.header-menu ul li {
    max-width: 148px;
}

.header-menu ul li a {
    color: #353535;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin: 0 44px;
    text-decoration: none;
}

.header-menu ul li:first-child a{
    background: url('../../assets/images/icon-dress.png');
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding-left: 18px;
}

.header-menu ul li a:hover{
    color: #faa500;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .header-desktop{
        display: none;
    }

    .header-content{
        justify-content: space-between;
    }

    .nav{
        align-items: center;
        justify-content: center;
        display: flex;
        font-size: 10px;
    }

    .logo-and-search, .user-action{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .logo-and-search img:last-child{
        width: 110px;
        margin-left: 19px;
    }

    .minicart-itens{
        font-size: 12px;
        right: 1%;
        top: 25%;
        height: 25px;
        width: 25px;
    }

    button.search, button.wishlist {
        background-color: transparent;
        border: none;
    }

    button.wishlist{
        margin-left: 36px;
    }
}

@media screen and (min-width: 1024px) {
    .header-mobile{
        display: none;
    }
}