.tipbar-brands{
    padding: 0 5%;
    margin-top: 64px;
}

.tipbar-brands .tipbar-brands-title{
    color: #353535;
    font-size: 18px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: center;
}
.tipbar-brands .brands-images-container{
    margin-top: 24px;
    justify-content: center;
    display: flex;
}

.brand-images{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.brand-images img{
    max-width: 100%;
}

@media screen and (max-width: 1024px) {
    .tipbar-brands{
        margin-top: 40px;
    }
    
    .tipbar-brands .tipbar-brands-title{
        font-size: 24px;
        font-weight: 700;
        line-height: 37px;
        letter-spacing: 0em;
        text-align: center;
    }
}