.tipbar{
    margin-top: 10px;
    margin-bottom: 74px;
}

.tipbar h1{
    text-align: center;
    font-size: 16px;
    font-weight: 700px;
    line-height: 24.34px;
}

.tipbar-carousel{
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 0 5%;
    margin-top: 24px;
}

.tipbar-infos{
    align-items: center;
    display: flex;
    border-radius: 4px;
    background-color: #efefef;
    margin: 0 8px;
    height: 64px;
    width: 300px;
}

.tipbar-infos .tipbar-image{
    padding-left: 8px;
    width: 32px;
    height: 32px;
}

.tipbar-infos .tipbar-text{
    margin-left: 8px;
}
.tipbar-infos .tipbar-text h1{
    font-size: 14px;
    font-weight: 700;
    line-height: 21.29px;
}

.tipbar-infos .tipbar-text p{
    font-size: 12px;
    font-weight: 400;
    line-height: 18.25px;
}

@media screen and (max-width: 1024px){
    .tipbar{
        margin-bottom: 40px;
    }
    .tipbar-infos{
        display: flex!important;
        padding-left: 26px;
    }
}

@media screen and (min-width: 1024px) {
    .title{
        margin-top: 21px;
    }
}